*.iml
*.log
*.aab
*.apk
*.hprof
*.jks
*.keystore
.DS_Store
.codex
.gradle/
/build
/captures
.externalNativeBuild
.cxx
local.properties
/local.properties
output-metadata.json
google-services.json
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/deploymentTargetDropDown.xml
/.idea/render.experimental.xml
